/* ********* CSS RESET ********** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: GeneralSans;
}

/*************** FONT FAMILY *************/
@font-face {
    font-family: GeneralSans;
    src: url(../GeneralSans-Regular.otf);
}